src/conf/xml-resources/web-service-references/APCBBusinessServices/wsdl/localhost_8080/APCB_Business/APCBBusinessServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.business.apcb.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.business.apcb.com/" name="APCBBusinessServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.business.apcb.com/" schemaLocation="http://localhost:8080/APCB_Business/APCBBusinessServices?xsd=1" />
</xsd:schema>
</types>
<message name="ticketReservAndPay">
<part name="parameters" element="tns:ticketReservAndPay" />
</message>
<message name="ticketReservAndPayResponse">
<part name="parameters" element="tns:ticketReservAndPayResponse" />
</message>
<message name="ticketAirAvailAndPrice">
<part name="parameters" element="tns:ticketAirAvailAndPrice" />
</message>
<message name="ticketAirAvailAndPriceResponse">
<part name="parameters" element="tns:ticketAirAvailAndPriceResponse" />
</message>
<message name="consultReservOrTicket">
<part name="parameters" element="tns:consultReservOrTicket" />
</message>
<message name="consultReservOrTicketResponse">
<part name="parameters" element="tns:consultReservOrTicketResponse" />
</message>
<portType name="APCBBusinessServices">
<operation name="ticketReservAndPay">
<input wsam:Action="http://services.business.apcb.com/APCBBusinessServices/ticketReservAndPayRequest" message="tns:ticketReservAndPay" />
<output wsam:Action="http://services.business.apcb.com/APCBBusinessServices/ticketReservAndPayResponse" message="tns:ticketReservAndPayResponse" />
</operation>
<operation name="ticketAirAvailAndPrice">
<input wsam:Action="http://services.business.apcb.com/APCBBusinessServices/ticketAirAvailAndPriceRequest" message="tns:ticketAirAvailAndPrice" />
<output wsam:Action="http://services.business.apcb.com/APCBBusinessServices/ticketAirAvailAndPriceResponse" message="tns:ticketAirAvailAndPriceResponse" />
</operation>
<operation name="consultReservOrTicket">
<input wsam:Action="http://services.business.apcb.com/APCBBusinessServices/consultReservOrTicketRequest" message="tns:consultReservOrTicket" />
<output wsam:Action="http://services.business.apcb.com/APCBBusinessServices/consultReservOrTicketResponse" message="tns:consultReservOrTicketResponse" />
</operation>
</portType>
<binding name="APCBBusinessServicesPortBinding" type="tns:APCBBusinessServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="ticketReservAndPay">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ticketAirAvailAndPrice">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultReservOrTicket">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="APCBBusinessServices">
<port name="APCBBusinessServicesPort" binding="tns:APCBBusinessServicesPortBinding">
<soap:address location="http://localhost:8080/APCB_Business/APCBBusinessServices" />
</port>
</service>
</definitions>